@model Proizvod

<div class="card border-info mb-3">
    <div class="card-header">
        @Model.Ime
        <span class="badge badge-info" style="float:right">
            @Model.Cena.ToString("c", Cultures.SrbLtn)
        </span>
    </div>
    <div class="card-body text-dark">
        <form asp-action="DodajUKorpu" asp-controller="Korpa" method="post">
            <input type="hidden" name="proizvodId" value="@Model.ProizvodID" />
            <input type="hidden" name="url" value="@ViewContext.HttpContext.Request.UzmiUrl()" />
            <span class="card-text">
                <img src="~/ProizvodiSlike/@Model.SlikaPutanja"
                     alt="@Model.Ime"
                     width="200"
                     height="200"
                     class="rounded float-left"/>
                @Model.Opis
            <span style="float:right">
                <input type="number" name="kolicina" class="form-control" value="1" min="1"/>
                <button type="submit" class="btn btn-success btn-sm mt-2 pt-2 btn-block" >
                    Dodaj u korpu
                </button>
            </span>
            </span>
        </form>
    </div>

 </div>
